html, body{
    width: 100%;
}

body {
    background-color: aqua;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: #385555;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    margin: auto;
    gap: 30px;
}

.list-item {
    list-style-type: none;
    background-image: url(imagens/thumb02.jpg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgb(0,0,0,0.6);
    width: 240px;
    height: 300px;
    margin: 5px;
} 

.list-item-imagem img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    border-radius: 100%;
    width: 100px;
    box-shadow: 0 0 3px black;
}

.list-item__name {
    color: #385555;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.list-item__action {
    background-color: #d4d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    gap: 70px;
}

